/**
 * Copyright (c) 2020 Aleksej Komarov
 * SPDX-License-Identifier: MIT
 */

em {
  font-style: normal;
  font-weight: bold;
}

img {
  margin: 0;
  padding: 0;
  line-height: 1;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

img.icon {
  height: 1em;
  min-height: 16px;
  width: auto;
  vertical-align: bottom;
}

a {
  color: #397ea5;
}

a.visited {
  color: #7c00e6;
}

a:visited {
  color: #7c00e6;
}

a.popt {
  text-decoration: none;
}

/* POPUPS */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #ddd;
}

.popup .close {
  position: absolute;
  background: #aaa;
  top: 0;
  right: 0;
  color: #333;
  text-decoration: none;
  z-index: 2;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

.popup .close:hover {
  background: #999;
}

.popup .head {
  background: #999;
  color: #ddd;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
  border-bottom: 2px solid green;
}

.popup input {
  border: 1px solid #999;
  background: #fff;
  margin: 0;
  padding: 5px;
  outline: none;
  color: #333;
}

.popup input[type=text]:hover,
.popup input[type=text]:active,
.popup input[type=text]:focus {
  border-color: green;
}

.popup input[type=submit] {
  padding: 5px 10px;
  background: #999;
  color: #ddd;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: bold;
}

.popup input[type=submit]:hover,
.popup input[type=submit]:focus,
.popup input[type=submit]:active {
  background: #aaa;
  cursor: pointer;
}

.changeFont {
  padding: 10px;
}

.changeFont a {
  display: block;
  text-decoration: none;
  padding: 3px;
  color: #333;
}

.changeFont a:hover {
  background: #ccc;
}

.highlightPopup {
  padding: 10px;
  text-align: center;
}

.highlightPopup input[type=text] {
  display: block;
  width: 215px;
  text-align: left;
  margin-top: 5px;
}

.highlightPopup input.highlightColor {
  background-color: #FFFF00;
}

.highlightPopup input.highlightTermSubmit {
  margin-top: 5px;
}



/* ADMIN CONTEXT MENU */


.contextMenu {
  background-color: #ddd;
  position: fixed;
  margin: 2px;
  width: 150px;
}

.contextMenu a {
  display: block;
  padding: 2px 5px;
  text-decoration: none;
  color: #333;
}

.contextMenu a:hover {
  background-color: #ccc;
}



/* ADMIN FILTER MESSAGES MENU */


.filterMessages {
  padding: 5px;
}

.filterMessages div {
  padding: 2px 0;
}

.filterMessages input {
}

.filterMessages label {
}

.icon-stack {
  height: 1em;
  line-height: 1em;
  width: 1em;
  vertical-align: middle;
  margin-top: -2px;
}




/*****************************************
*
* OUTPUT ACTUALLY RELATED TO MESSAGES
*
******************************************/





/* MOTD */


.motd {
  color: #a4bad6;
  font-family: Verdana, sans-serif;
  white-space: normal;
}

.motd h1,
.motd h2,
.motd h3,
.motd h4,
.motd h5,
.motd h6 {
  color: #a4bad6;
  text-decoration: underline;
}

.motd a,
.motd a:link,
.motd a:visited,
.motd a:active,
.motd a:hover {
  color: #a4bad6;
}



/* ADD HERE FOR BOLD */


.bold,
.name,
.prefix,
.ooc,
.looc,
.adminooc,
.admin,
.medal,
.yell {
  font-weight: bold;
}



/* ADD HERE FOR ITALIC */


.italic, .italics, .emote {
  font-style: italic;
}



/* OUTPUT COLORS */


.highlight {
  background: yellow;
}

h1, h2, h3, h4, h5, h6 {
  color: #a4bad6;
  font-family: Georgia, Verdana, sans-serif;
}

h1.alert, h2.alert {
  color: #a4bad6;
}

em {
  font-style: normal;
  font-weight: bold;
}

.ooc {
  font-weight: bold;
}

.adminobserverooc {
  color: #0099cc;
  font-weight: bold;
}

.adminooc {
  color: #3d5bc3;
  font-weight: bold;
}

.adminsay {
  color: #ff4500;
  font-weight: bold;
}

.admin {
  color: #5975da;
  font-weight: bold;
}

.name {
  font-weight: bold;
}

.say {
}

// deadsay below

.binarysay {
  color: #1e90ff;
}

.binarysay a {
  color: #00ff00;
}

.binarysay a:active, .binarysay a:visited {
  color: #88ff88;
}

.radio {
  color: #1ecc43;
}

.sciradio {
  color: #c68cfa;
}

// comradio below

// secradio below

// medradio below

// engradio below

.suppradio {
  color: #b88646;
}

.servradio {
  color: #6ca729;
}

.syndradio {
  color: #8f4a4b;
}

.centcomradio {
  color: #2681a5;
}

.aiprivradio {
  color: #d65d95;
}

.redteamradio {
  color: #ff4444;
}

.blueteamradio {
  color: #3434fd;
}

.yell {
  font-weight: bold;
}

.alert {
  color: #d82020;
}

.emote {
  font-style: italic;
}

.userdanger {
  color: #c51e1e;
  font-weight: bold;
  font-size: 185%;
}

.danger {
  color: #c51e1e;
}

.warning {
  color: #c51e1e;
  font-style: italic;
}

.alertwarning {
  color: #FF0000;
  font-weight: bold;
}

.boldwarning {
  color: #c51e1e;
  font-style: italic;
  font-weight: bold;
}

.announce {
  color: #c51e1e;
  font-weight: bold;
}

.boldannounce {
  color: #c51e1e;
  font-weight: bold;
}

.greenannounce {
  color: #059223;
  font-weight: bold;
}

.rose {
  color: #ff5050;
}

.info {
  color: #9ab0ff;
}

.notice {
  color: #6685f5;
}

.tinynotice {
  color: #6685f5;
  font-size: 85%;
}

.tinynoticeital {
  color: #6685f5;
  font-style: italic;
  font-size: 85%;
}

.smallnotice {
  color: #6685f5;
  font-size: 90%;
}

.smallnoticeital {
  color: #6685f5;
  font-style: italic;
  font-size: 90%;
}

.boldnotice {
  color: #6685f5;
  font-weight: bold;
}

.hear {
  color: #6685f5;
  font-style: italic;
}

.adminnotice {
  color: #6685f5;
}

.adminhelp {
  color: #ff0000;
  font-weight: bold;
}

.unconscious {
  color: #a4bad6;
  font-weight: bold;
}

.suicide {
  color: #ff5050;
  font-style: italic;
}

.green {
  color: #059223;
}

.red {
  color: #FF0000;
}

.blue {
  color: #215cff;
}

.nicegreen {
  color: #059223;
}

.cult {
  color: #973e3b;
}

.cultitalic {
  color: #973e3b;
  font-style: italic;
}

.cultbold {
  color: #973e3b;
  font-style: italic;
  font-weight: bold;
}

.cultboldtalic {
  color: #973e3b;
  font-weight: bold;
  font-size: 185%;
}

.cultlarge {
  color: #973e3b;
  font-weight: bold;
  font-size: 185%;
}

.narsie {
  color: #973e3b;
  font-weight: bold;
  font-size: 925%;
}

.narsiesmall {
  color: #973e3b;
  font-weight: bold;
  font-size: 370%;
}

.colossus {
  color: #7F282A;
  font-size: 310%;
}

.hierophant {
  color: #b441ee;
  font-weight: bold;
  font-style: italic;
}

.hierophant_warning {
  color: #c56bf1;
  font-style: italic;
}

.purple {
  color: #9956d3;
}

.holoparasite {
  color: #88809c;
}

.revennotice {
  color: #c099e2;
}

.revenboldnotice {
  color: #c099e2;
  font-weight: bold;
}

.revenbignotice {
  color: #c099e2;
  font-weight: bold;
  font-size: 185%;
}

.revenminor {
  color: #823abb;
}

.revenwarning {
  color: #760fbb;
  font-style: italic;
}

.revendanger {
  color: #760fbb;
  font-weight: bold;
  font-size: 185%;
}

.deconversion_message {
  color: #a947ff;
  font-size: 185%;
  font-style: italic;
}

.ghostalert {
  color: #6600ff;
  font-style: italic;
  font-weight: bold;
}

.alien {
  color: #855d85;
}

.noticealien {
  color: #059223;
}

.alertalien {
  color: #059223;
  font-weight: bold;
}

.changeling {
  color: #059223;
  font-style: italic;
}

.alertsyndie {
  color: #FF0000;
  font-size: 185%;
  font-weight: bold;
}

.spider {
  color: #8800ff;
  font-weight: bold;
  font-size: 185%;
}

.interface {
  color: #750e75;
}

.sans {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.papyrus {
  font-family: "Papyrus", cursive, sans-serif;
}

.robot {
  font-family: "Courier New", cursive, sans-serif;
}

.command_headset {
  font-weight: bold;
  font-size: 160%;
}

.small {
  font-size: 60%;
}

// big below

.reallybig {
  font-size: 245%;
}

.extremelybig {
  font-size: 310%;
}

.greentext {
  color: #059223;
  font-size: 185%;
}

.redtext {
  color: #c51e1e;
  font-size: 185%;
}

.clown {
  color: #ff70c1;
  font-size: 160%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
}

.singing {
  font-family: "Trebuchet MS", cursive, sans-serif;
  font-style: italic;
}

.his_grace {
  color: #15D512;
  font-family: "Courier New", cursive, sans-serif;
  font-style: italic;
}

.hypnophrase {
  color: #202020;
  font-weight: bold;
  animation: hypnocolor 1500ms infinite;
  animation-direction: alternate;
}

@keyframes hypnocolor {
  0% {
    color: #202020;
  }

  25% {
    color: #4b02ac;
  }

  50% {
    color: #9f41f1;
  }

  75% {
    color: #541c9c;
  }

  100% {
    color: #7adbf3;
  }
}

.phobia {
  color: #dd0000;
  font-weight: bold;
  animation: phobia 750ms infinite;
}

@keyframes phobia {
  0% {
    color: #f75a5a;
  }

  50% {
    color: #dd0000;
  }

  100% {
    color: #f75a5a;
  }
}

.icon {
  height: 1em;
  width: auto;
}

.memo {
  color: #638500;
  text-align: center;
}

.memoedit {
  text-align: center;
  font-size: 125%;
}

.abductor {
  color: #c204c2;
  font-style: italic;
}

.mind_control {
  color: #df3da9;
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}

.slime {
  color: #00CED1;
}

.drone {
  color: #848482;
}

.monkey {
  color: #975032;
}

.swarmer {
  color: #2C75FF;
}

.resonate {
  color: #298F85;
}

.monkeyhive {
  color: #a56408;
}

.monkeylead {
  color: #af6805;
  font-size: 80%;
}

.connectionClosed, .fatalError {
  background: red;
  color: white;
  padding: 5px;
}

.connectionClosed.restored {
  background: green;
}

.internal.boldnshit {
  color: #3d5bc3;
  font-weight: bold;
}



/* HELPER CLASSES */


.text-normal {
  font-weight: normal;
  font-style: normal;
}

.hidden {
  display: none;
  visibility: hidden;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-3 {
  margin-left: 3em;
}

/* CM stuff */

.xooc					{color: #ac04e9;	font-weight: bold; font-size: 120%;}
.mooc					{color: #009900;	font-weight: bold; font-size: 120%;}
.yooc					{color: #999600;	font-weight: bold; font-size: 120%;}

.headminsay				{color: #7d4b94;	font-weight: bold;}

.radio					{color: #b4b4b4;}
.deptradio				{color: #993399;}
.comradio				{color: #779cc2;}

.centradio				{color: #5C5C8A;}
.airadio				{color: #FF00FF;}

.secradio				{color: #a52929;}
.engradio				{color: #A66300;}
.medradio				{color: #008160;}

.supradio				{color: #5F4519;}
.jtacradio				{color: #702963;}
.intelradio				{color: #027D02;}
.wyradio				{color: #FE9B24;}

.alpharadio				{color: #db2626;}
.bravoradio				{color: #C68610;}
.charlieradio			{color: #AA55AA;}
.deltaradio				{color: #007FCF;}

.medium					{					font-size: 110%}
.big					{					font-size: 115%}
.large					{					font-size: 125%}
.extra_large			{					font-size: 130%}
.huge					{					font-size: 150%}

.underline				{text-decoration: underline;}

.orange 				{color: #eca100;}

.normal					{font-style: normal;}

.attack					{color: #ff3838;}
.moderate				{color: #CC0000;}
.disarm					{color: #990000;}
.passive				{color: #660000;}

.helpful				{color: #368f31;}

.scanner				{color: #ff3838;}
.scannerb				{color: #ff3838;	font-weight: bold;}
.scannerburn			{color: #ffa500;}
.scannerburnb			{color: #ffa500;	font-weight: bold;}
.rose					{color: #ff5050;}

.debuginfo				{color: #493D26;	font-style: italic;}

.xenonotice				{color: #51a16c;}

.xenowarning			{color: #51a16c;	font-style: italic;}
.xenominorwarning		{color: #51a16c;	font-weight: bold; font-style: italic;}

.xenodanger				{color: #51a16c;	font-weight: bold;}
.avoidharm				{color:	#72a0e5;	font-weight: bold;}
.highdanger				{color: #ff3838;	font-weight: bold; font-size: 120%;}
.xenohighdanger			{color: #51a16c; 	font-weight: bold; font-size: 120%;}
.xenoannounce           {color: #65c585;    font-family: book-antiqua; font-weight: bold; font-size: 120%;}
.yautjabold				{color: #800080;	font-weight: bold;}
.yautjaboldbig			{color: #800080;	font-weight: bold; font-size: 110%;}

.objectivebig			{font-weight: bold; font-size: 130%;}
.objectivegreen			{color: #00ff00;}
.objectivered			{color: #ff0000;}
.objectivesuccess		{color: #00ff00;	font-weight: bold; font-size: 110%;}
.objectivefail			{color: #ff0000;	font-weight: bold; font-size: 110%;}

.xeno					{color: #c048c0;	font-style: italic;}
.xenoleader				{color: #996e99;	font-style: italic;						font-size: 120%;}
.xenoqueen				{color: #996e99; 	font-style: italic; font-weight: bold; font-size: 120%;}
.newscaster				{color: #800000;}

.role_header			{color: #e92d2d;	display: block; text-align: center; font-weight: bold; font-family: trebuchet-ms; font-size: 120%;}
.role_body				{color: #3a3ae9;	display: block; text-align: center;}

.round_setup			{color: #e92d2d;	font-family: impact; font-size: 125%;}
.round_header			{color: #e92d2d; 	display: block; text-align: center; font-family: courier; font-weight: bold; font-size: 140%;}
.round_body				{color: #c5c5c5; 	display: block; text-align: center; font-family: trebuchet-ms; font-weight: bold; font-size: 120%;}
.event_announcement		{color: #600d48; 	font-family: arial-narrow; font-weight: bold; font-size: 120%;}

.announce_header		{color: #cecece;	font-weight: bold; font-size: 120%;}
.announce_header_blue	{color: #7575f3;	font-weight: bold; font-size: 120%;}
.announce_body			{color: #e92d2d;	font-weight: normal; font-size: 100%;}

.centerbold				{						display: block; text-align: center; font-weight: bold;}

.mod					{color: #917455;	font-weight: bold;}
.modooc					{color: #184880;	font-weight: bold;}
.adminmod				{color: #7c440c;	font-weight: bold;}
.tajaran				{color: #803B56;}
.tajaran_signlang		{color: #941C1C;}
.skrell					{color: #00CED1;}
.soghun					{color: #228B22;}
.changeling				{color: #800080;}
.vox					{color: #AA00AA;}
.monkey					{color: #966C47;}
.german					{color: #858F1E; 	font-family: 'Times New Roman', Times, serif;}
.spanish				{color: #CF982B;}
.japanese				{color: #be0029}
.rough					{font-family: trebuchet-ms, cursive, sans-serif;}
.commando				{color: #FE9B24; font-style: bold;}
.say_quote				{font-family: Georgia, Verdana, sans-serif;}

.deadsay {
  color: #8b4dff;
}
